<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>URL Shortner</h1>
    <% if (locals.id) { %>
    <p>The Generated url is: http://localhost:8001/url/<%= locals.id %></p>
    <% } %>
    <form method="POST" action="/url">
      <label>Enter your URL</label>
      <input type="text" name="url" placeholder="https://example.com" />
      <button type="submit">Generate</button>
    </form>
    <% if (locals.urls) { %>
    <table>
      <thead>
        <th>Serial No.</th>
        <th>Original URl</th>
        <th>Short Url</th>
        <th>No. of clicks</th>
      </thead>
      <tbody>
        <% urls.forEach((url,index) => { %>
        <tr>
          <td><%=index+1 %></td>
          <td><%= url.redirectUrl %></td>
          <td>http://localhost:8001/url/<%= url.shortUrl %></td>
          <td><%= url.visitHistory.length %></td>
        </tr>

        <% }) %>
      </tbody>
    </table>

    <% } %>
  </body>
</html>
